<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%=form_for @article, :html =>{class: "horizontal_form", role: "form"} do|f|%>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <%=f.text_field :title, class: "form-control", placeholder: "Title of article"%>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <%=f.text_area :description, rows: '10', cols: '10', class: "form-control", placeholder: "Description of article"%>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-offset-2 col-sm-10">
            <%=f.submit :submit, class: "btn btn-primary"%>
          </div>
        </div>
      <% end %>
      <div class="col-md-12 col-md-offset-4">
        [<%= link_to 'cancel request and return to article path', articles_path %>]
      </div> 
    </div>
  </div>
</div>  